<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @read.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @read.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @read.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @read.published_at %>
</p>

<%= link_to 'Edit', edit_read_path(@read) %> |
<%= link_to 'Back', reads_path %>
